extends _layout.pug
include _mixins.pug

block title
  title #{ htmlWebpackPlugin.options.post.meta.title }

block og
  meta(name='og:url' content="https://omardelarosa.com/posts/" + htmlWebpackPlugin.options.post.meta.slug + ".html")
  meta(name='og:title' content=htmlWebpackPlugin.options.post.meta.title.toLowerCase() + " | posts | omardelarosa.com")
  meta(name='og:type' content='article')
  meta(name='og:description' content=htmlWebpackPlugin.options.post.og.description)

block content
  if htmlWebpackPlugin.options.post
    div.breadcrumbs-container
      +breadcrumbs({ text: 'Posts', href: '/posts' }, { text: htmlWebpackPlugin.options.post.meta.slug })
    h1.section-heading
      .section-heading__title= htmlWebpackPlugin.options.post.meta.title
      .section-heading__subtitle.post__meta
        +postmeta(htmlWebpackPlugin.options.post)
    .post__container
      .post__body !{ htmlWebpackPlugin.options.post.html }

  else
    h1 404!
